* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.exercise {
  font-size: 22px;
  color: beige;
  background-color: black;
  margin: 10px;
  text-align: center;
}

.exercise-figure {
  text-align: center;
  display: block;
}

.div-9a {
  background-color: red;
  width: 200px;
  height: 200px;
  margin: 5px auto;
}

.div-9b {
  background-color: green;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 5px auto;
}

.div-9c {
  border: 1px solid rgba(128, 128, 128, .6);
  padding: 15px 15px;
  width: 315px;
  margin: 10px auto;
}

.div-9c_text {
  margin-bottom: 8px;
}

.div-9c_button {
  padding: 2px 6px;
  border: 1px solid rgba(128, 128, 128, .6);
  cursor: pointer;
}

.div-9d {
  background-color: rgb(29, 28, 28);
  color: white;
  padding: 15px 15px;
  width: 350px;
  margin: 10px auto;
}

.div-9d_heading {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 8px;
}

.div-9d_text {
  font-size: 14px;
  color: rgb(138, 138, 138);
}

.div-9e {
  padding: 5px 10px;
  width: 700px;
  border: 1px solid rgba(128, 128, 128, .6);
  border-radius: 10px;
  margin: 10px auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
}

.div-9e_fig {
  display: inline-block;
  vertical-align: middle;
}

.div-9e_pic {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 8px;
  object-fit: cover;
  object-position: center;
}

.div-9e_textbox {
  font-size: 17px;
  width: 520px;
  border: none;
}

.div-9e_button {
  font-size: 17px;
  font-weight: bold;
  color: white;
  padding: 5px 12px;
  background-color: rgb(65, 154, 255);
  border: none;
  border-radius: 30px;
}