* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.video-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  width: 300px;
  margin: 10px 10px 4px;
}

.video-stats {
  font-size: 14px;
  color: rgb(100, 100, 100);
  margin-left: 10px;
}

.video-author {
  font-size: 14px;
  color: rgb(100, 100, 100);
  margin: 18px 10px;
}

.video-description {
  font-size: 14px;
  color: rgb(100, 100, 100);
  width: 280px;
  margin: 18px 10px 80px;
  line-height: 22px;
}

.apple-text {
  font-size: 14px;
  color: white;
  background-color: rgb(253, 67, 67);
  padding: 18px 0;
  text-align: center;
  margin: 0 7px;
}

.apple-text_shop:hover {
  text-decoration: underline;
  cursor: pointer;
}