header {
  background-color: white;
  height: 55px;
  border-bottom: 1px solid rgb(230, 230, 230);
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-left {
  display: flex;
    align-items: center;
}

.header-left_menu, .header-left_youtube-logo {
  height: 20px;
  cursor: pointer;
}

.header-left_menu {
  margin: 0 25px 0 27px;
}

.header-middle {
  flex: 1;
  max-width: 1000px;
  margin: 0 45px 0 90px;
  display: flex;
    align-items: center;
}

.header-middle_search-bar {
  font-size: 16px;
  width: 0;
  height: 40px;
  padding-left: 20px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, .05);
  flex: 1;
}

.header-middle_search-bar::placeholder {
  font-family: Roboto, Arial;
}

.search-bar {
  font-size: 18px;
  margin-left: 0;
}

.header-middle_search-button {
  background-color: rgb(243, 243, 243);
  width: 60px;
  height: 40px;
  border: 1px solid rgb(190, 190, 190);
  margin: 0 10px 0 -1px;
}

.header-middle_search-button, .header-middle_voice-search-button, .header-right_upload-container, .header-right_notification-container, .header-right_channel-pic-container {
  cursor: pointer;
  position: relative;
  display: flex;
    justify-content: center;
    align-items: center;
}

.header-middle_search-button .tooltip, .header-middle_voice-search-button .tooltip, .header-right_upload-container .tooltip, .header-right_notification-container .tooltip {
  font-family: Roboto, Arial;
  font-size: 12px;
  background-color: gray;
  color: white;
  padding: 3px 6px;
  border-radius: 2px;
  opacity: 0;
  transition: .15s;
  pointer-events: none;
  white-space: nowrap;
  position: absolute;
    bottom: -25px;
}

.header-middle_search-button:hover .tooltip, .header-middle_voice-search-button:hover .tooltip, .header-right_upload-container:hover .tooltip, .header-right_notification-container:hover .tooltip {
  opacity: 1;
}

.header-middle_voice-search-button {
  background-color: rgb(250, 250, 250);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
}

.header-middle_search-button__pic, .header-middle_voice-search-button__pic {
  height: 70%;
}

.header-right {
  width: 200px;
  display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
}

.header-right_upload, .header-right_notification {
  height: 26px;
}

.header-right_notification-number {
  font-family: Roboto, Arial;
  font-size: 11px;
  padding: 3px 6px;
  border-radius: 100%;
  background-color: rgb(194, 0, 0);
  color: white;
  position: absolute;
    top: -2px;
    right: -5px;
}

.header-right_channel-pic {
  height: 35px;
  border-radius: 100%;
}