main {
  background-color: rgb(248, 248, 248);
  padding: 16px 14px;
}

.video-grid { /*Creating a grid to organize the videos*/
  padding: 10px;
  display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*Setting 3 rows of the same width*/
    gap: 35px 16px;
}

.video-link {
  text-decoration: none;
}

.video-link, .video-link:active {
  color: black;
}

.video-thumbnail, .video-figure, .video-image {
  width: 100%;
}

.video-figure { /*Making the figures able to have elements on top*/
  position: relative;
}

.video-time {
  font-size: 13px;
  font-weight: 500;
  background-color: black;
  color: white;
  padding: 2px 3px;
  border-radius: 5px;
  position: absolute; /*Making this element able to be on top of its container*/
    right: 7px;
    bottom: 10px;
}

.video-info {
  height: 30%;
  padding: 7px 0;
  display: flex;
}

.video-channel {
  width: 50px;
  height: 35px;
  position: relative; /*Making this container relative to add a Tooltip*/
}

.video-channel_pic {
  width: 35px;
  border-radius: 100%;
}

.video-channel_info {
  background-color: white;
  width: 240px;
  padding: 10px 8px;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: .15s;
  pointer-events: none;
  position: absolute;
    bottom: -70px;
    left: 0;
    z-index: 2; /*To stay on top of the info container*/
  display: flex;
    align-items: center;
}

.video-channel_info-pic {
  height: 45px;
  border-radius: 100%;
}

.video-channel_info-channel {
  height: 40px;
  padding-left: 10px;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video-channel:hover .video-channel_info { /*When the mouse hovers over the Video Channel container, the Video Channel Info container will be shown*/
  opacity: 1;
}

.channel-name {
  font-size: 14px;
  font-weight: bold;
}

.channel-subscribers {
  font-size: 14px;
  color: gray;
}

.video-additional_info {
  flex: 1;
  position: relative;
    z-index: 1; /*To be behind the Video Channel Info container*/
}

.video-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px; /*To control the space between the lines*/
}

.video-author, .video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  padding-top: 10px;
}

.video-stats {
  padding-top: 5px;
}

@media (max-width: 750px) { /*When the size is 750px or less wide*/
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1080px) {/*When the size is 1080px or more wide*/
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .video-time {
    font-size: 14px;
  }
  .video-title {
    font-size: 16px;
    line-height: 24px;
  }
  .video-author, .video-stats  {
    font-size: 14px;
  }
}