nav {
  background-color: white;
  width: 72px;
  padding-top: 5px;
  border-top: 1px solid white;
  position: fixed;
    left: 0;
    bottom: 0;
    top: 54px;
    z-index: 11;
}

.nav-link {
  font-weight: 500;
  height: 80px;
  cursor: pointer;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.nav-link:hover {
  background-color: rgb(230, 230, 230);
}

.nav-link img {
  height: 25px;
}

.nav-link div {
  font-size: 10px;
}

@media (min-width: 1200px) {
  nav {
    width: 250px;
    padding: 10px 0 0 30px;
  }
  .nav-link {
    height: 50px;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
  }

  .nav-link div {
    font-size: 14px;
  }
}