* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search-bar {
  font-size: 18px;
  margin-left: 0;
  display: block;
}

.video-image {
  width: 300px;
}

.div-example {
  display: inline-block;
}

.video {
  width: 300px;
  vertical-align: top;
  display: inline-block;
  margin: 5px 5px 10px 10px;
}